# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
ENV/

# Django
db.sqlite3
/staticfiles/
media/

# Node / React
client/node_modules/
client/dist/
client/build/

# VSCode
.vscode/

# MacOS
.DS_Store

# Logs
*.log
